body{background-image: url("bilde1.jpg");
	background-attachment: fixed;
	background-position: fixed;
	background-position: center;
	background-size: 80%;
	color: yellow;
	font-family: "Lucida Console", "monospace", sans-serif;}

a{color: yellow;
	text-decoration: none;
	}
a:hover{color: yellow;
	text-decoration: line-through;
	}
.lach{width: 95%;}
h1{color: white;
	font-size: 40px;}

h2{color: yellow;
	font-variant: "Times new roman", "serif"
	font-size: 40px;
	letter-spacing: -2px;
	}
